html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
 dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, 
 legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary, time, mark, audio, video{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
 }

body{
	background-color:#f7f7f7;
}

	.wrapper{
		background:#ffffff;
	
		margin-left:auto;
		margin-right:auto;
	}		
	


	body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2 {
    font-family: 'ms300';
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 1px;
}

.white {
    color: #fff;
}

header h1{
	margin:0px;
	padding-top:60px;
	color:#ffffff;
	font-size:36px;
	line-height:40px;
	font-family: 'Open Sans Condensed', sans-serif;
	}
	
header{
	background-image:url('../img/headerback.jpg');
	background-repeat: no-repeat;
	height:576px;
	background-position:center;
	margin:0 auto;
	display:block;
	}
	
.section{
	position: relative;
	width:940px;
	padding: 0px 10px;
	margin:0 auto;
	}

.right{
	float:right;
	width:470px;
}
.letterwhite{
	color:#ffffff;
	font-size:30px;
	line-height:34px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.letterred{
	color:#c8c665;
	font-size:30px;
	line-height:34px;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-bottom:20px;
}

.price-center{
	width:310px;
	padding-top:25px;
	overflow:hidden;
	text-align:center;
}

.price-left{
	float:left;
	font-size: 14px;
}
.price-right{
	float:left;
	font-size: 14px;
}
.ppriceold{
	color:#ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
	margin:0 auto;
	width:100%;
}
.ppricenew{
	color:#ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
}
.priceoldnumb{
	display:block;
	font-size: 26px;
	text-decoration: line-through;
	color:#ffffff;
    background: #7b7a3e;
    font-size: 24px;
    line-height: 55px;
    height: 55px;
    padding:0 30px;
    border-radius: 28px 0 0 28px;
    margin-top: 4px;
}
.pricenewnumb{
	display:block;
	background: #fff;
	font-size: 26px;
	color:#cc3924;
    font-size: 26px;
    line-height: 55px;
    height: 55px;
    padding:0 30px;
    border-radius: 0 28px 28px 0;
    margin-top: 4px;
}

.button-white{ 
	margin: 15px 0 40px;
	display: block;
    background: #e13151;
    font-size: 20px;
    line-height: 60px;
    height: 60px;
    text-decoration: none;
    width: 300px;
    border-radius: 30px;
	color:#ffffff;
	text-align:center;
}

/*начало заявки*/

.modalDialog{
	/*внешний вид заявки*/
	color: #FFF;
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 780px;
	height: 430px;
	position: relative;
	margin: 12% auto;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.topModal {
	width:780px;
	height:100px;
	background: #312e1b;
	padding:0px;
	border-radius: 7px 7px 0 0;
}

.leftModal {
	height:330px;
	width:346px;
	float:left;
	padding-left: 22px;
	padding-right: 22px;
	background: #3d3f27;
	border-radius:0 0 0 7px;
}

.rightModal {
	height:315px;
	width:390px;	
	float:left;
	padding:0px;
	padding-top:15px;
	background: #4d512c;
	border-radius: 0 0 7px 0;
}
.topModal h2{
	font-size:30px; 
	text-align:center; 
}
.rightModal h2{
	padding: 20px 0 18px;
    font-size: 26px;
    line-height: 30px;
	text-align: center;
	font-weight: 600;
}
.modalDialog .leftModal img {
	display: block;
    margin: 0 auto;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

form input {
    outline: none;
    border: 1px solid #fff;
    width: 259px;
    height: 35px;
    text-align: center;
    font-size: 16px;
    display: block;
    margin: 0 auto 15px;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: inset 1px 1px 5px #949494;
}

form button {
    border: 0;
    cursor: pointer;
    outline: none;
    display: block;
    background: #e13151;
    font-size: 20px;
    line-height: 58px;
    height: 60px;
    text-decoration: none;
    width: 300px;
    border-radius: 30px;
	margin: 0 auto 15px;
}

/*конец заявки*/

.lettersmall{
	color:#ffffff;
	font-family: 'Cormorant Infant', serif;
	font-size:18px;
}

.wrapper{
	background: url(../img/contback.jpg) bottom no-repeat #f7f7f7;
	width:940px;
	margin-left:auto;
	margin-right:auto;
    height: 690px;
}
.center{
	text-align:center;
}
.img-1{
	background-position:center;
	background-repeat: no-repeat;
	max-width: 100%;
	margin: -80px auto 20px;
	border-radius: 22px;
    box-shadow: 0px 10px 10px -5px #c6c6c6;
}
.wrapper ul.left{
	float: left;
	width: 300px;
    padding-top: 50px;
	list-style: none;
}
.wrapper ul li{
	padding-bottom: 25px;
    height: 135px;
	text-align:center;
}

.wrapper ul.right{
	float: right;
	width: 300px;
    padding-top: 50px;
	list-style: none;
}
.wrapper h3{
	color: #222;
    font-size: 20px;
    padding: 8px 0 6px;
}
.wrapper2{
	    background: url(../img/cont2back.jpg) center bottom no-repeat;
    height: 668px;
}
.wrapper2 h2{
	padding: 26px 0;
}

.wrapper3{
	background: #f7f7f7;
    padding-bottom: 50px;
    overflow: hidden;
}
.wrapper3 ul{
	margin-top: 25px;
    background: #fff;
    border: 1px solid #e7e7e7;
    display: block;
    width: 938px;
    height: 200px;
    box-shadow: 0px 2px 20px -5px 
}
.wrapper3 ul li {
    float: left;
    width: 282px;
    padding: 0 15px 20px;
    height: 180px;
}
.wrapper3 ul li.center {
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7
}

.wrapper4 {
	width: 960px;
	height: 536px;	
}

.section {
    position: relative;
    padding: 0px 10px;
    margin: 0 auto;
    width: 940px;
}

.black {
    color: #000;
}

.wrapper4 {
	margin: 0 auto;
}

.wrapper4 h2 {
    padding: 35px 0;
}

.upp {
    text-transform: uppercase;
}

h2 {
    font-family: 'ms300';
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 1px;
	text-align: center;
}

.wrapper4 img {
    float: left;
}

img {
    max-width: 100%;
}

.wrapper4 p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 20px;
	width: 435px;
	float: right;
}

.ms500 {
    font-family: 'ms500';
}